<div class="content" role="main">
  <div>
    <mat-toolbar>
      <span>Euchre Stats</span>
      <span class="spacer"></span>
      <button mat-icon-button style="color: mediumseagreen" (click)="openGameForm()"><mat-icon>add_circle</mat-icon></button>
    </mat-toolbar>
  </div>
  <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-between">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Stats"></mat-tab>
      <mat-tab label="Game Log"></mat-tab>
      <mat-tab label="Map"></mat-tab>
    </mat-tab-group>
    <div *ngIf="isLoading" style="margin-top: 40vh">
      <mat-spinner></mat-spinner>
    </div>
    <statistics *ngIf="selectedIndex === 0 &&!isLoading" [players]="players" [teams]="teams"></statistics>
    <game-log [games]="games" *ngIf="selectedIndex === 1 && !isLoading"></game-log>
    <map-view [games]="games" [currentLocation]="geolocation" *ngIf="selectedIndex === 2 &&!isLoading"></map-view>
  </div>
</div>
